body {
    background-color: whitesmoke;
}

.name::first-letter {
    font-size: 150%;
    color: #a80038;
    // vertical-align: middle;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.name {
    font-size: 300%;

}

.statement {
    margin: 8% 0 15% 0;
    font-size: 1.4em;
}

.image {
    float: left;
    margin: 0 15px 0 0;
    height: 175px;
    width: 175px;
    border-radius: 10px;
}

.list {
    margin-bottom: 5%;
}

.heading {
    font-weight: bold;
    font-size: 125%;
    margin: 0;
}

.subheading {
    font-weight: bold;
    font-size: 115%;
}

.text {
    display: block;
}

.icon {
    margin-left: 4.3%;
}

.firstIcon {
    margin-left: 0;
}

.unordered {
    list-style-type: none;
    padding: 0;
}

.skills {
    text-align: center;
}

