.selected::first-letter {
    font-size: 200%;
    color: #a80038;
    vertical-align: middle;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    // transform: translateY(200px);
    // transition: all 0.6s ease-in
}

.colon {
    color: #a80038;
}

.textBox p {
    display: block;
    font-size: 110%;
    // font-weight: bold;
}