.wrapper {
  margin: 30px auto 0 auto;
  width: 100%;
  float: left;
  display: flex;
  align-items: space-around;
}

.wrapper:last-child {
  margin-bottom: 40px;
}

.tile {
  width: 100%;
  height: 400px;
  margin-top: 10px;
  background-color: #a80038;
  display: inline-block;
  background-size: cover;
  position: relative;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow: hidden;
  color: white;
  border-radius: 10px;
}

.tile img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
}

.tile .text {
  position: absolute;
  padding: 30px;
  height: calc(100% - 60px);
}

.tile h1 {
 font-weight: 300;
  margin: 0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.tile h2 {
  font-size: 20px;
  font-weight: 100;
  margin:20px 0 0 0;
  font-style: italic;
  transform: translateX(200px);
}

.tile h3 {
  margin: 0 0 10px 0;
}

.tile p {
  font-weight: 300;
  margin: 20px 0 0 0;
  line-height: 25px;
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.tile .animate-icons {
  text-align: center;
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.6s ease-in-out;
}

.animate-text {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

a {
  color: white;
}

.tile:hover { 
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform: scale(1.05);
}

.tile:hover img {
  opacity: 0.2;
}

.tile:hover .animate-text {
  transform: translateX(0);
  opacity: 1;
}

.tile:hover .animate-icons {
  transform: translateY(20px);
  opacity: 1;
}

.animate-icons span:nth-child(2) {
  margin-right: 8%;
}

.animate-icons span:nth-child(3) {
  margin-top: 8%;
}

.animate-icons span:nth-child(4) {
  margin-left: 8%;
}

.links {
  position: absolute;
  bottom: 50px;
  right: 30px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  color: currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

.links span {
  margin: 7px;
  cursor: pointer;
  display: block;
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
}

.tile:hover span {
  opacity: 1;
  transform: translateY(0px);
}

.links span:nth-child(1) {
  transition-delay: 0.1s;
}

.links span:nth-child(2) {
  transition-delay: 0.1s;
}

@media (max-width: 475px) {
  .tile {
    //width: 117%;
    height: 500px;
  }
  .links {
    flex-direction: row;
    margin-right: 200px;
  }
}

@media (max-width: 650px) and (min-width: 1000px) {
  .wrapper {
    margin-top: 0;
    width: 120%;
  }
  .tile {
    //width: 117%;
    height: 450px;
  }
  .links {
    flex-direction: column;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
    // width: 400px;
  }
}




