.splashScreen {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

$halfWidth: 50vw;
$halfHeight: 50vh;

@function middle () {
    @return $halfWidth + 250
};

#canvas {
    position: fixed;
    width: 500px;
    height: 500px;
    z-index: -2;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 100%;
    z-index: -1;
}

.loadingText::first-letter {
    font-size: 150%;
    color: #a80038;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.loadingDots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    height: 90px;
}

.splashDot1, .splashDot2, .splashDot3, .splashDot4 {
    display: inline-block;
    background-color: #a80038;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    // box-shadow: 0px 0px 5px gray;
    z-index: -1;
    animation: bounce 1.5s ease-in-out 3;
}

.splashDot1{
    animation-delay: -1.5s;
}

.splashDot2 {
    animation-delay: -1.2s;
}

.splashDot3 {
    animation-delay: -0.9s;
}

.splashDot4 {
    animation-delay: -0.6s;
}

// $halfWidth: 50vw;
// $halfHeight: 50vh;

// @function middle () {
//     @return ($halfWidth $halfHeight)
// };

.growDot {
    // position: absolute;
    // top: 50vh;
    // left: 50vw;
    // transform: translate(-50% -50%);
    background: #a80038;
    width: 0;
    height: 0;
    border-radius: 50%;
    // position: fixed;
    // top: -20px;
    // left: -20px;
    // transform-origin: middle();
    // transform: rotate(-100deg);
    // animation: grow 5s ease-in-out 6s 1 forwards;
    z-index: 2;
}

@keyframes bounce {
    0%, 60%, 100% {
        transform: initial;
    }

    30% {
        transform: translateY(-40px);
        background: #fd0054;
    }

    60% {
        background: rgb(196, 66, 174)
    }
}

// @keyframes grow {
//     0% {
//         // transform: inherit;
//         transform: translate(-50% -50%);
//     }

//     75% {
//         width: 100vh;
//         height: 100vh;
//     }

//     100% {
//         border-radius: 0;
//         height: 100%;
//         width: 100%;
//     }
// }
