//--------------- Global Variables ---------------//

$width: 100%;


//--------------- Global Variables ---------------//


//--------------- Nav Bar ---------------//
body {
    background-color: #fbf9fa;
}

Nav {
    margin-right: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 105px;
    height: 100%;
    background-color: #fd0054;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transform: translate(0, -50%);
}

.navList li {
    padding: 25px 10px;
    text-align: center;
}

// li:hover {
//     background-color: #a80038;
//     transition: all 0.4s ease-in;
// }

a {
    text-decoration: none;
    color: black;
}

.navList li::before {
    content: "";
    display: block;
    height: 15px;
    // border-radius: 10px;
    width: 100%;
    background-color: #a80038;
    // position: absolute;
    // top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.navList li:hover::before {
    width: 100%;
}

//--------------- Nav Bar ---------------//

