//--------------- Global Variables ---------------//

$width: 100%;


//--------------- Global Variables ---------------//


//--------------- Nav Bar ---------------//
body {
    background-color: #fbf9fa;
}

Nav {
    margin-right: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 105px;
    height: 100%;
    background-color: #fd0054;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transform: translate(0, 50%);
}

.navList li {
    padding: 25px 10px;
    text-align: center;
}

// li:hover {
//     background-color: #a80038;
//     transition: all 0.4s ease-in;
// }

a {
    text-decoration: none;
    color: black;
}

.navList li::before {
    content: "";
    display: block;
    height: 15px;
    // border-radius: 10px;
    width: 100%;
    background-color: #a80038;
    // position: absolute;
    // top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.navList li:hover::before {
    width: 100%;
}

input {
    display: none;
}

@media only screen and (max-width: 600px) {
Nav {
    width: 0;
    height: 100%;
    z-index: 10;
}

.menuToggle {
  display: block;
  position: relative;
  height: 100%;
  top: 50px;
  left: 21px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle span {
  
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fd0054;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.navList {
  position: absolute;
  width: 150px;
  height: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #fd0054;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.navList li {
    transform: translate(0, 100%);
  padding: 25px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
.menuToggle input:checked ~ ul {
  transform: none;
}
}

//--------------- Nav Bar ---------------//

