.name::first-letter {
    font-size: 200%;
    color: #a80038;
    vertical-align: middle;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    // transform: translateY(200px);
    // transition: all 0.6s ease-in
}

.name {
    font-size: 300%;

}

.statement {
    margin: 15% 0 25% 0;
}

.image {
    float: left;
    margin: 0 15px 0 0;
}

.list {
    margin-bottom: 15%;
}

.heading {
    font-weight: bold;
    font-size: 125%;
    margin: 0;
}

.text {
    display: block;
}

.icon {
    margin-left: 6%;
}

.unordered {
    list-style-type: none;
    padding: 0;
}

